@include portrait {
	.team {
		&__title {
			margin-bottom: 70px;
		}

		&__text {
			max-width: 518px;
		}

		&__text {
			text-align: left;
		}
	}
}

@include tablet-portrait {
	.team {
		padding: 20px 0 50px;

		&__inner {
			grid-template-columns: 240px 407px;
			grid-template-rows: 1fr .1fr;
			gap: 40px 35px;
		}

		&__text-block {
			margin-bottom: 0;
		}

		&__link-button {
			grid-column: 1 / 3;
		}

		&__text {
			max-width: unset;

			font-size: 1.125rem;
			line-height: 1.5rem;
		}

		&__img {
			margin-bottom: 0;
		}
	}
}

@include desktop {
	.team {
		&__inner {
			grid-template-columns: .76fr 1fr;
    		grid-template-rows: 1fr .15fr;
			gap: 20px 60px;
		}

		&__img {
			grid-row: 1 / 3;
		}

		&__link-button {
			grid-column: 2 / 3;
		}
	}
}