$color-000: #ffffff;
$color-001: #2b4074;
$color-002: #979797;
$color-003: #f9f6e5;
$color-004: #4a4a4a;
$color-005: #dadada;
$color-006: #d8d8d8;
$color-007: #7ebf84;
$color-008: #476e4d;
$color-009: #6bb071;
$color-010: #2b40744d;
$color-011: #6bb0714d;
$color-012: #9b9b9b;
$color-013: #000000;
$color-014: #00000000;
$color-015: #797979;
$color-016: #212121;
$color-017: #2121217f;

$mobile-portrait: 320px;
$portrait: 640px;
$tablet-portrait: 768px;
$desktop: 1024px;
$desktop-hd: 1440px;
